<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>

            <!-- menambah kontak -->
            <a href="/contact/add" class="btn btn-success  mb-2">Tambah Data Kontak</a>

            <!-- menambahkan notif berhasil  -->
            <% if (msg.length !== 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= msg %>
                  </div>
            <% } %>

            <!-- tabel kontak -->
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">No HP</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- jika kontak kosong -->
                    <% if (kontaks.length === 0) { %>
                        <tr>
                            <td colspan="4">
                                </div>
                                <div class="card-body">
                                    <p class="card-text alert alert-danger">Kontak Masih Kosong!</p>
                                </div>
                                </div>
                            </td>
                        </tr>

                    <% } %>

                    <!-- menampilkan isi kontak -->
                    <% const no = 1 %>
                    <% kontaks.forEach((contact, i) => { i++ %>
                        <tr>
                            <th scope="row"><%= i++ %></th>
                            <td><%= contact.nama; %></td>
                            <td><%= contact.noHP; %></td>
                            <td>
                                <a href="/contact/<%= contact.nama %>" class="btn btn-success">Detail</a>
                            </td>
                        </tr>
                    <% }); %>
                  
                </tbody>
              </table>
              
        </div>
    </div>
</div>